
<div class="container">
<div class="card-trip">
  <%= cl_image_tag @list.photo.key, height: 300, crop: :fill %>
  <div class="card-trip-infos">
    <div>
      <h3> <%= @list.name %></h3>
      <p>Descripcion de la lista!</p>
    </div>
    <%= link_to 'Delete', list_path(@list), method: :delete, class: "btn btn-danger", data: { confirm: 'Esta seguro?'} %>
    
  </div>
</div>



<ul>
<% @list.bookmarks.each do |bm| %>
<li> <%= bm.comment %>, <%= bm.movie.title %> 
<%= link_to 'Eliminar', bookmark_path(bm), method: :delete, class: "btn btn-danger"  %>
</li>
<% end %>
</ul>

<% if @bookmarks.nil? %>
<p> No bookmarks found </p>
<% end %>

<%= link_to 'Añadir marcador', new_list_bookmark_path(@list), class: "btn btn-primary" %>

</div>