<h2> Mis listas de peliculas</h2>

 <h3> Lista: <%= @list.name %></h3>

<ul>
<% @list.bookmarks.each do |bm| %>
<li> <%= bm.comment %>, <%= bm.movie.title %> 
<%= link_to 'Eliminar', bookmark_path(bm), method: :delete, class: "btn btn-danger"  %>
</li>

<% end %>
</ul>

<% if @bookmarks.nil? %>
<p> No bookmarks found </p>
<% end %>

<div class="card" style="height: 400px;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">
  Cool list!
</div>

<%= link_to 'Añadir marcador', new_list_bookmark_path(@list), class: "btn btn-primary" %>
